body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #33cccc; /* Ajusta el color de fondo según tus necesidades */
    padding: 10px;
}

header a {
    margin-right: 10px;
    text-decoration: none;
}

section {
    margin: 20px;
}

h2 {
    text-align: center;
    color: #33cccc;
}

p {
    text-align: justify;
}

span {
    background-color: #33cccc;
}

button {
    background-color: #33cccc;
    color: #33cccc;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1a8c8c; /* Cambia el color al pasar el ratón sobre el botón */
}

table {
    width: 100%;
    margin: 0 auto;
}

td {
    padding: 10px;
}

footer {
    margin-top: 30px;
    padding-left: 30px;
}

footer a {
    margin-right: 10px;
    text-decoration: none;
}

/* Agregar estilos para el slider si es necesario */

/* Puedes agregar más estilos según tus necesidades */
