.header{
    background-color:var(--color-logaritmia-1);
    display: flex;
    justify-content: flex-end;
}

.header-item{
    padding: 0.5rem 1rem;
    color: var(--white-text);
}
.landing-content {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 1rem;
}
.reverse {
    grid-template-columns: 40% 60%;
    text-align: end;
}
.grid-col-span-2{
    grid-column: span 2;
}
.h-title{
    color: var(--color-logaritmia-1);
    font-size: 2rem;
}
.black-txt{
    color: black;
}
.fondo{
    width: 95%;
    align-self: center;
}
@media ( max-width: 750px ) {
    .landing-content {
        display: block;
    }
    
}
.landing-separador{
    background-color:var(--color-logaritmia-1);
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
}


ol.stepper {
    --circle: 3.5rem; /* size of circle */
    --b: 5px; /* line thickness */
    display: flex;
    list-style: none;
    justify-content: space-between;
    background: 
      linear-gradient(var(--color-logaritmia-2) 0 0) no-repeat
      50% calc((var(--circle) - var(--b))/2)/100% var(--b);
    counter-reset: step;
    margin: 20px;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    counter-reset: step;
    overflow: hidden;
  }
  ol.stepper li {
    flex: 1 1 0px;
    display: grid;
    place-items: center;
    gap: 5px;
    font-family: sans-serif;
    position: relative;
  }
  ol.stepper li::before {
    content: counter(step) " ";
    counter-increment: step;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    height: var(--circle);
    border: 5px solid #fff;
    box-sizing: border-box;
    background: var(--color-logaritmia-2);
    color: white;
    border-radius: 50%;
    font-family: monospace;
    z-index: 1;
    align-self: first baseline;
  }
@media (max-width: 750px) { 
    ol.stepper {
     display: grid;
     gap: 20px;
     background: 
       linear-gradient(var(--color-logaritmia-2) 0 0) no-repeat
       calc((var(--circle) - var(--b))/2) 50%/var(--b) 90%;
    }
    ol.stepper li {
      display: flex;
    }
}

li.black-txt{
    text-align: center;
    margin: 0;
}

#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}

#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#slides .slide_1 {
  background-color:var(--color-logaritmia-5);
}

#slides .slide_2 {
  background-color:var(--color-logaritmia-4);
}

#slides .slide_3 {
  background-color:var(--color-logaritmia-3);
}

#slides .slide_4 {
  background-color:var(--color-logaritmia-2);
}

#slides .slide_5 {
  background-color:var(--color-logaritmia-1);
}

#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}

#controls label:hover {
  opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-last-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(5),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}

#bullets {
  margin: 150px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}

@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}

.footer{
    background-color:var(--color-logaritmia-2);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-item{
    padding: 0.5rem 1rem;
    color: var(--white-text);
}
