* {
    padding: 0;
    border: none;
    margin: 0;
    text-decoration: none;
}

button, label {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0 auto;
}

img, video {
    display: block;
    width: 100%;
    margin: 0 auto;
}

header, footer, section, nav {
    width: 100%;
}

ol, ul {
    list-style-position: inside;
}

table {
    border-collapse: collapse;
    display: block;
}

textarea {
    resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
